!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= I18n.t('product_name')
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = javascript_include_tag ApplicationView.action_assets_path(params, :js)
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    ApplicationView.action_assets_path(params, :css)
    %meta{ content: 'width=device-width', name: 'viewport' }
  %body.black-bg.devise-layout
    = render 'layouts/partials/alerts'
    = render 'layouts/partials/loader'
    = yield

    = yield :scripts
